.poster-canvas {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  color: #000;
  background: rgb(237, 255, 199);
}

.live-music {
  position: absolute;
  top: 50px;
  font-size: 50px;
  width: 1080px;
  margin-left: 50px;
  text-align: left;
  text-transform: uppercase;
}

.band-name {
  position: absolute;
  top: 110px;
  font-size: 120px;
  width: 1080px;
  margin-left: 50px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

.venue {
  position: absolute;
  top: 290px;
  font-size: 90px;
  width: 1080px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin-left: 50px;
  text-align: left;
  text-transform: uppercase;
}

.divider {
  position: absolute;
  left: 50px;
  top: 700px;
  width: 930px;
  height: 10px;
  background: #000;
}

.date {
  position: absolute;
  top: 715px;
  font-size: 60px;
  width: 1080px;
  text-align: center;
  text-transform: left;
}

.times {
  position: absolute;
  top: 840px;
  font-size: 60px;
  width: 1080px;
  text-align: center;
  text-transform: uppercase;
}

.location {
  position: absolute;
  top: 1150px;
  font-size: 60px;
  width: 1080px;
  text-align: center;
  text-transform: uppercase;
}

.url {
  position: absolute;
  top: 1180px;
  font-size: 60px;
  width: 1080px;
  text-align: left;
}

.banner {
  position: absolute;
  top: 939px;
  width: 1080px;
  background: #000;
  color: #fff;
  font-size: 120px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
